<!-- Slider main container -->
<div class="container" *ngIf="seriesEmision">
  <div class="swiper-series mt-4">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div
        class="swiper-slide text-center lastMovie"
        *ngFor="let serie of seriesEmision"
      >
        <img
          (click)="goSerie(serie)"
          class="img-fluid"
          [src]="serie.poster_path | img"
          [alt]="serie.name"
        />
        {{ serie.name }}
      </div>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>
</div>
